<!DOCTYPE html>
<html>
<head>
	<title>CINEFX Ticket</title>
	<link href='https://fonts.googleapis.com/css?family=Lobster|Kreon:400,700' rel='stylesheet' type='text/css'>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<meta http-equiv="content-type" content="text-html; charset=utf-8">
	<link href="https://www.askfor.co/ticket.css" rel="stylesheet" type='text/css'>
	<script src="https://cdn.jsdelivr.net/jsbarcode/3.6.0/JsBarcode.all.min.js"></script>
</head>

<body>
	<div class="container">
		<section>
		<div class="circle">
        	<img src="https://www.askfor.co/logo.png">
        </div>
        <div class="special">
        	<div class="seats">
        		<span>CINEFX AND CHILL</span>
        	</div>

        	<div class="seatsright">
        		<span>Editer le htmledittime</span>
        	</div>
        </div>

        <div class="special">
        	<div class="seats">
        		<span class="label">Prix </span><span>htmlprice</span>
        	</div>
        	
        	<div class="seatsright">
        		<span>Bc : htmlbarcode</span>
        	</div>
        	
        </div>

        <div class="special">
        	<div class="seats">
        		<span class="label">Salle </span><span>htmlsalle</span>
        	</div>
        	<div class="seatsright">
        		<span>N : htmlid</span>
        	</div>
        </div>

        <div class="special"></div>
        <div class="special">
        	htmlmovietitle
        </div>
        <div class="special">
        	<div class="seats"></div>
        	Séance : htmldate htmlhoraire
        </div>
    </section>

    <aside >
    	<figure>
    	<svg id="barcode"></svg>
    	<script type="text/javascript">
    		JsBarcode("#barcode", "htmlbarcode", {format: "ITF",lineColor: "#fff",width: 4,height: 230,displayValue: true,margin: 15,background: "#494140"});
    	</script>
    </figure>
    </aside>
</div>
</body>

</html>